<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui">

<h:head>
    <title>PrimeFaces Hello World Example</title>
</h:head>

<h:body>
    <h:form id="helloworld-form">

        <p:growl id="messages" showDetail="true" closable="true" life="3000" />

        <h1><h:outputText value="#{indexBean.getTitle()}"/></h1>

        <p:spacer height="50px"/>

        <p:commandButton value="Münze einwerfen" id="ajax" update="@form"
                         actionListener="#{indexBean.zustand.muenzeEinwerfen()}" styleClass="ui-priority-primary"/>
        <p:commandButton value="Münze auswerfen" id="ajax1" update="@form"
                         actionListener="#{indexBean.zustand.muenzeAuswerfen()}" styleClass="ui-priority-primary"/>
        <p:commandButton value="Griff drehen" id="ajax2" update="@form"
                         actionListener="#{indexBean.zustand.griffDrehen()}" styleClass="ui-priority-primary"/>

    </h:form>

</h:body>
</html>
